p There are {{projects.length}} projects
//div.container
//    div.col-lg-12.col-md-12.col-sm-12.col-xs-12
//        div(ng-repeat='post in projects').col-lg-4.col-md-4.col-sm-4.col-xs-4
//            div.project-col
//                img(src='{{post.image}}').full-width
//                div.project-col-info
//                    h3.project-col-header
//                        | {{post.title}}
//                    p {{post.text}}


section(ng-repeat='item in countSections()').bg-grey
    div.container
        div.equal
            div(ng-repeat='post in products|myLimitTo:3:limitToStartIndex($index)').col-sm-4
                div.project-col
                    img(src='{{post.image}}').full-width
                    div.project-col-info
                        h3.project-col-header
                            | {{post.title}}
                        p {{post.text}}