extends layout

block body
  div
    h2 EU Projects

    div(ng-view)

  script(src='js/lib/angular/angular.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')


// EXAMPLE 1 Start

    //extends layout
    //
    //block body
    //  div(ng-controller='AppCtrl')
    //    h2 Hello {{name}}
    //    ul.menu
    //      li
    //        a(href='view1') view1
    //      li
    //        a(href='view2') view2
    //
    //    div(ng-view)
    //
    //    div
    //      | Angular seed app: v
    //      span(app-version)
    //
    //  script(src='js/lib/angular/angular.js')
    //  script(src='js/app.js')
    //  script(src='js/services.js')
    //  script(src='js/controllers.js')
    //  script(src='js/filters.js')
    //  script(src='js/directives.js')

// EXAMPLE 1 Start

// EXAMPLE 2 Start

    //extends layout
    //
    //block body
    //  div
    //    h2 My Blog
    //    ul
    //      li
    //        a(href='/') Home
    //      li
    //        a(href='/addPost') Add a new post
    //
    //    div(ng-view)
    //
    //  script(src='js/lib/angular/angular.js')
    //  script(src='js/app.js')
    //  script(src='js/services.js')
    //  script(src='js/controllers.js')
    //  script(src='js/filters.js')
    //  script(src='js/directives.js')

// EXAMPLE 2 End